﻿@model CoreEntities.Task
@{
    Layout = null;
}
@Model.Comments
<!DOCTYPE html>
<a href="@Url.Action("Task","Home",new { taskId = Model.Id })"></a>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task</title>
</head>
<body>
    <div>
        <h3>Task Card</h3>
        <form method="get" action="">
            <table>
                <tr>
                    <td><p>Task Id:</p></td>
                    <td><p>@Model.Id</p></td>
                </tr>
                <tr>
                    <td><p>Task Name:</p></td>
                    <td><p>@Model.TaskHeader</p></td>
                </tr>
                <tr>
                    <td><p>Description:</p></td>
                    <td><p>@Model.TaskDesc</p></td>
                </tr>
                <tr>
                    <td><p>Created By:</p></td>
                    <td><p>@Model.CreatedBy</p></td>
                </tr>
                <tr>
                    <td><p>Date:</p></td>
                    <td><p>@Model.CreationDate</p></td>
                </tr>
                <tr>
                    <td><p>Status:</p></td>
                    <td><p>@Model.TaskStatusId</p></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <h3>Comments</h3>
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><p>Date</p></td>
                <td><p>Comment</p></td>
                <td><p>ParentComment</p></td>
                <td><p>User</p></td>
                <td></td>
            </tr>
            @foreach (var b in Model.Comments)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.CommentDate</p></td>
                    <td><p>@b.CommentText</p></td>
                    <td><p>@b.ParentCommentId</p></td>
                    <td><p>@b.UserId</p></td>

                </tr>
            }
            @Html.CommentsFor(Model.Comments)
        </table>
    </div>
</body>
</html>
